@using global::Issues.Users
@page
@inject IUserSignInService UserSignInService

@{
    var user = await UserSignInService.GetCurrentUserAsync();
}

<ul class="right nav navbar-nav navbar-right">
    @if (!user.IsAuthenticated)
    {
        <li>
            <a asp-page="/SignIn" class="menu-item registration signin">
                Sign in / Register
            </a>
        </li>
    }
    else
    {
        <li>
            <a class="menu-item signin-user dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">
                @user
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a asp-page="/Users/Profile" class="menu-item profile">Profile</a>
                </li>
                <li>
                    <a asp-page="/SignOut" class="menu-item signout">Sign out</a>
                </li>
            </ul>
        </li>
    }
</ul>
