@page
@model SignInModel
@{
    ViewData["Title"] = "Sign in";
}

<div class="switch">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a asp-page="/SignIn" class="signin">Sign in</a>
        </li>
        <li role="presentation">
            <a asp-page="/Users/Register" class="registration">Register</a>
        </li>
    </ul>
</div>

<div class="signin-input">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="errors">
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-2">
                    <label asp-for="Input.UserName" class="control-label"></label>
                </div>
                <div class="col-sm-10">
                    <input asp-for="Input.UserName" class="username form-control">
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-2">
                    <label asp-for="Input.Password" class="control-label"></label>
                </div>
                <div class="col-sm-10">
                    <input asp-for="Input.Password" class="password form-control">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="signin btn btn-success form-control">Sign In</button>
        </div>
    </form>
</div>