body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.list-group .list-group-item a {
    color: #333333;
}

.block {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Input */
.issue-edit .form-group, .user-edit .form-group, .signin-input .form-group {
    padding-bottom: 4rem;
}

/* Input Issue */
.issue-edit .form-group .description {
    height: 32rem;
}

/* Form errors */
.form-control.input-validation-error {
    /* ReSharper disable CssBrowserCompatibility */
    /* ReSharper disable RequiresFallbackColor */
    box-shadow:  inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 80, 110, .6);
    /* ReSharper restore RequiresFallbackColor */
    /* ReSharper restore CssBrowserCompatibility */
}

/* Use by program */
/* ReSharper disable DeclarationIsEmpty */
.navigator {}
.menu-item {}
.home {}
.page-title {}
.new-issue {}
.issues {}
.issue-list {}
.issue-edit {}
.issue {}
.id {}
.title {}
.description {}
.edit {}
.submit {}
.save {}
.link {}
.timeago {}
.user-edit {}
.username {}
.password {}
.confirm {}
.register {}
.registration {}
.signin {}
.errors {}
.signin-input {}
.signin-user {}
.signout {}
.switch {}
.author {}
.user {}
.profile {}
