@model global::Issues.Users.UserViewModel

by
@if (Model.IsAuthenticated)
{
    <a asp-page="/Users/Show" asp-route-id="@((string) Model.UserName)" class="author">@Model</a>
}
else
{
    <span class="author">@Model</span>
}