﻿@page
@model Issues.CreateModel
@{
    ViewData["Title"] = "New Issue";
}

<div class="issue-edit">
    <form method="post">
        <div class="row">
            <div class="form-group">
                <div class="col-sm-2">
                    <label asp-for="Input.Title" class="control-label"></label>
                </div>
                <div class="col-sm-10">
                    <input asp-for="Input.Title" class="title form-control">
                    <span asp-validation-for="Input.Title" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-2">
                    <label asp-for="Input.Description"></label>
                </div>
                <div class="col-sm-10">
                    <textarea asp-for="Input.Description" class="description form-control"></textarea>
                    <span asp-validation-for="Input.Description" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="btn-group">
                <button type="submit" class="submit btn btn-success">Submit</button>
            </div>
        </div>
    </form>
</div>